.acs-div-filter {
    display: flex;
    width: 300px;
    flex-direction: column;
    margin: 4px 0;
}
.acs-div-filter1 {
    display: flex;
    width: 300px;
    flex-direction: column;
    margin: 4px 0;
}
.acs-div-filter2 {
    display: flex;
    width: 300px;
    flex-direction: column;
    margin: 4px 0;
}
.acs-div-container {
    border: 2px;
    border-style: solid;
    background-color: white;
}

.acs-div-printsjekspor-header1 {
    text-align: center;
}
.acs-div-printsjekspor-header2 {
    display: flex;
    flex-direction: row;
    gap: 2%;
    width: 100%;
    margin: 5px;
}
.acs-div-printsjekspor-header3 {
    width: 45%;
}
.acs-div-printsjekspor-header4 {
    width: 45%;
}
.acs-div-printsjekspor-subheader {
    width: 100%;
    border: 1px solid black;
    padding-left: 5px;
}
.acs-div-printsjekspor-body {
    padding: 5px;
}
#table_noBorder tr td {
    border: none !important;
}
#table_barangEksport {
    width: 100% !important;
    border-top: 1px solid black;
    border-bottom: none !important;
}
.cetak-sjpdf-container {
    text-align: center;
    margin-left: 1%;
    margin-top: 1%;
    width: 98%;
}
.cetak-sjpdf-container1 {
    width: 98%;
    margin-left: 1%;
    display: flex;
    gap: 3px;
}
.cetak-sjpdf-container2 {
    border: 1px solid black;
    flex: 1;
    height: 100px;
    font-size: smaller;
}
.cetak-sjpdf-container2 p {
    margin-bottom: 0;
    margin-left: 5px;
}
.cetak-sjpdf-container3 {
    flex: 1;
}
.cetak-sjpdf-container4 {
    border: 1px solid black;
    width: 98%;
    margin-top: 1%;
    margin-left: 1%;
}
.cetak-sjpdf-container4 p {
    margin-bottom: 0;
    margin-left: 5px;
}
.cetak-sjpdf-container5 {
    width: 98%;
    margin-left: 1%;
    display: flex;
}
.cetak-sjpdf-container6 {
    flex: 1;
    text-align: center;
    padding: 5%;
    font-size: small;
}
.cetak-sjpdf-container7 {
    flex: 1;
    padding: 5%;
    font-size: smaller;
}
.cetak-sjpdf-tabel {
    width: 98%;
    margin-top: 1%;
    margin-left: 1%;
}
table tr td {
    border-right: 1px solid black !important;
    border-bottom: 1px solid black !important;
}
table tr:last-child td:first-child {
    border-bottom-left-radius: 0rem !important;
}
table tr:last-child td:last-child {
    border-bottom-right-radius: 0rem !important;
}
.second-column-width-90 {
    width: 90%;
}
#table_barangEksport thead tr td {
    text-align: center;
    font-weight: bold;
}
#nama_tandaTanganKolom {
    text-align: center;
    font-weight: bold;
    margin-left: 30px;
}
#jenis_barangEksportKolom {
    font-weight: bold;
    text-decoration: underline;
}
.acs-div-printsjekspor-footer {
    margin: 5px;
    gap: 5px;
}
@media print {
    .acs-div-form {
        display: none;
    }
    .acs-div-container {
        border: none;
    }
    #table_barangEksport tbody tr td:nth-child(2) {
        width: 90%;
    }
}
